
      h1 {color: orange;
        font-size: 65px;
        font-family: sans-serif;
    }

    #list1 {background-color: yellowgreen;
      font-size: 2em}

    .fundo1 {background-color: pink;
    l         ine-height: 2;}

    body {font-size: 16px;}

    p {font-weight: 600;
        font-size: 3em;
        font-style: oblique;
        text-align: center;
        text-decoration: overline;}

      #cor1 {color: yellow;}
      #cor2 {color: red;}
      #cor3 {color: brown;}
